<!DOCTYPE html>
<html>
<head>
  <title>Werewolf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Listing players</h1>

<nav>
  <% if user_signed_in? %>
   Signed in as <%= current_user.email %>
   <%= link_to 'New Player', new_player_path %>
  <% else %>
   <% link_to "Sign up", new_user_registration_path %>
   <% link_to "Sign in", new_user_session_path %>
  <% end %>
</nav>

<table>
  <tr>
    <th>Is dead</th>
    <th>Role</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Votes for</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.is_dead %></td>
    <td><%= player.role %></td>
    <td><%= player.lat %></td>
    <td><%= player.lon %></td>
    <td><%= player.votes_for %></td>
    <td><%= player.user_id %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>

</body>
</html>