<!DOCTYPE html>
<html>
<head>
  <title>Werewolf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <nav>
  <% if user_signed_in? %>
   Signed in as <%= current_user.email %>
  <% else %>
   <% link_to "Sign up", new_user_registration_path %>
   <% link_to "Sign in", new_user_session_path %>
  <% end %>
  </nav>
</head>
<body>

<p id="notice"><%= notice %></p>

<p>
  <b>Is dead:</b>
  <%= @player.is_dead %>
</p>

<p>
  <b>Role:</b>
  <%= @player.role %>
</p>

<p>
  <b>Lat:</b>
  <%= @player.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @player.lon %>
</p>

<p>
  <b>Votes for:</b>
  <%= @player.votes_for %>
</p>

<p>
  <b>User:</b>
  <%= @player.user_id %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

</body>
</html>